[KGameTheme]
Name=KNavalBattle Default
Description=The default theme for KNavalBattle
Author=Johann Ollivier Lapeyre and Eugene Trounev
FileName=default_theme.svgz
