[KGameTheme]
Name=Naval Battle Default
Name[da]=Standard for Naval Battle
Name[de]=Naval-Battle-Standard
Name[el]=Προκαθορισμένο ναυμαχίας
Name[es]=Predeterminado para Batalla naval
Name[et]=Merelahing vaikimisi
Name[fi]=Meritaistelun oletus
Name[ga]=Comhrac Cabhlaigh Réamhshocraithe
Name[hu]=Tengeri csata alapértelmezett
Name[nb]=Standard Sjøslag
Name[nl]=Naval Battle standaard
Name[pt]=Batalha Naval Predefinida
Name[pt_BR]=Padrão Batalha Naval
Name[sk]=Námorná bitka predvolené
Name[sl]=Privzeta za Potapljanje ladjic
Name[sr]=Подразумевана Поморске битке
Name[sr@ijekavian]=Подразумевана Поморске битке
Name[sr@ijekavianlatin]=Podrazumevana Pomorske bitke
Name[sr@latin]=Podrazumevana Pomorske bitke
Name[sv]=Standardtema för Sänka fartyg
Name[uk]=Типова для «Морського бою»
Name[x-test]=xxNaval Battle Defaultxx
Name[zh_TW]=海上戰爭預設
Description=The default theme for Naval Battle
Description[cs]=Výchozí motiv námořní bitvy
Description[da]=Standardtema for Naval Battle
Description[de]=Das Standard-Design für Naval Battle
Description[el]=Το προκαθορισμένο θέμα της ναυμαχίας
Description[es]=Tema predeterminado de Batalla naval
Description[et]=Merelahingu vaiketeema
Description[fi]=Meritaistelun oletusteema
Description[hu]=Alapértelmezett téma a Tengeri csatához
Description[nb]=Standardtemaet for Sjøslag
Description[nl]=Het standaardthema van Naval Battle
Description[pt]=O tema predefinido da Batalha Naval
Description[pt_BR]=Tema padrão para Batalha Naval
Description[sk]=Predvolená téma pre Námornú bitku
Description[sl]=Privzeta tema za Potapljanje ladjic
Description[sr]=Подразумевана тема Поморску битку
Description[sr@ijekavian]=Подразумијевана тема Поморску битку
Description[sr@ijekavianlatin]=Podrazumijevana tema Pomorsku bitku
Description[sr@latin]=Podrazumevana tema Pomorsku bitku
Description[sv]=Standardtema för Sänka fartyg
Description[uk]=Типова тема для «Морського бою»
Description[x-test]=xxThe default theme for Naval Battlexx
Description[zh_TW]=海上戰爭的預設主題
Author=Johann Ollivier Lapeyre and Eugene Trounev
FileName=default_theme.svgz
