[KGameTheme]
Name=Naval Battle Default
Description=The default theme for Naval Battle
Author=Johann Ollivier Lapeyre and Eugene Trounev
FileName=default_theme.svgz
