[Desktop Entry]
Encoding=UTF-8
Name=KBattleship
Name[af]=Kbattleship
Name[ar]=لعبة سفينة الحرب (KBattleship)
Name[bn]=কে-ব্যাটেলশীপ
Name[cs]=Lodě
Name[de]=Schiffe versenken
Name[eo]=Batalŝipo
Name[hi]=के-बैटलशिप
Name[hr]=Potapanje brodova
Name[is]=KSjóorrusta
Name[ko]=K전함
Name[pt_BR]=KBatalha Naval
Name[ro]=Bătălie navală
Name[ru]=Морской бой
Name[sl]=KBojnaLadja
Name[sv]=Sänka fartyg
Name[ta]=கேபாட்டில்ஷிப்
Name[tg]=KҶанги Киштиҳо
Name[th]=เรือรบ - K
Name[tr]=Amiral Battı
Name[xx]=xxKBattleshipxx
Name[zh_TW]=KBattleship 戰艦
Exec=kbattleship %i %m -caption "%c"
Icon=kbattleship
Type=Application
DocPath=kbattleship/index.html
GenericName=Battleship Game
GenericName[af]=Strategie Speletjie
GenericName[ar]=لعبة استراتيجية
GenericName[bg]=Морски шах
GenericName[bn]=কৌশলের খেলা
GenericName[br]=C'hoari a gadouriezh
GenericName[bs]=Strateška igra
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[cy]=Gêm Strategaeth
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[fi]=Strategiapeli
GenericName[fo]=Strategispæl
GenericName[fr]=Jeu de stratégie
GenericName[ga]=Cluiche Straitéise
GenericName[gl]=Xogo de estratexia
GenericName[he]=משחק אסטרטגיה
GenericName[hi]=कौशल का खेल
GenericName[hr]=Igra strategije
GenericName[hu]=Stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[lv]=Stratēģiskā Game
GenericName[mk]=Стратешка игра
GenericName[mt]=Logħba ta' strateġija
GenericName[nb]=Strategispill
GenericName[nl]=Strategisch spel
GenericName[nn]=Strategispel
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Jogo de Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегия
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[sr]=Стратешка игра
GenericName[sr@Latn]=Strateška igra
GenericName[sv]=Strategispel
GenericName[ta]=தந்திர விளையாட்டு
GenericName[tg]=Бозии Стратегӣ
GenericName[th]=เกมกลยุทธ์
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[uz]=Стратегия ўйини
GenericName[ven]=Mutambo wa Maitele
GenericName[wa]=Djeu di stratedjeye
GenericName[xh]=Indlela yokudlala umdlalo
GenericName[xx]=xxStrategy Gamexx
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
GenericName[zu]=Umdlalo wamaqhinga
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;StrategyGame;
