[Desktop Entry]
Encoding=UTF-8
Name=KBattleship
Name[x-test]=xxKBattleshipxx
Exec=kbattleship -caption "%c"
Icon=kbattleship
Type=Application
DocPath=kbattleship/index.html
GenericName=Battleship Game
GenericName[el]=Παιχνίδι Battleship
GenericName[fr]=Jeu de bataille navale
GenericName[x-test]=xxBattleship Gamexx
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
