[Desktop Entry]
Encoding=UTF-8
Name=KBattleship
Name[af]=Kbattleship
Name[ar]=لعبة سفينة الحرب (KBattleship)
Name[bn]=কে-ব্যাটেলশীপ
Name[cs]=Lodě
Name[de]=Schiffe versenken
Name[eo]=Batalŝipo
Name[hi]=के-बैटलशिप
Name[hr]=Potapanje brodova
Name[is]=KSjóorrusta
Name[ko]=K전함
Name[pa]=ਕੇ-ਜੰਗੀ ਜਹਾਜ਼
Name[ro]=Bătălie navală
Name[ru]=Морской бой
Name[sl]=KBojnaLadja
Name[sv]=Kbattleship
Name[ta]=கேபாட்டில்ஷிப்
Name[tg]=KҶанги Киштиҳо
Name[th]=เรือรบ - K
Name[tr]=Amiral Battı
Name[zh_TW]=KBattleship 戰艦
Exec=kbattleship %i %m -caption "%c"
Icon=kbattleship
Type=Application
DocPath=kbattleship/index.html
GenericName=Battleship Game
GenericName[bg]=Морски шах
GenericName[bn]=ব্যাটেলশীপ খেলা
GenericName[ca]=Joc d'enfonsar la flota
GenericName[cs]=Bitva lodí
GenericName[cy]=Gêm Longau Rhyfel
GenericName[da]=Krigsskibe-spil
GenericName[de]=Schiffe versenken
GenericName[el]=Παιχνίδι Battleship
GenericName[es]=Juego de la batalla de naves
GenericName[et]=Laevade pommitamise mäng
GenericName[eu]=Ontzi-guda jokoa
GenericName[fi]=Meritaistelupeli
GenericName[fr]=Jeu de bataille navale
GenericName[he]=משחק צוללות
GenericName[hu]=Torpedós
GenericName[is]=Sjóorustuleikur
GenericName[it]=Gioco a battaglia navale
GenericName[km]=ល្បែង​នាវា​ចម្បាំង
GenericName[mk]=Игра со потопување бродови
GenericName[nb]=Slagskip
GenericName[nl]=Zeeslagspel
GenericName[nn]=Slagskip
GenericName[pa]=ਜੰਗੀ ਜਹਾਜ਼ ਖੇਡ
GenericName[pl]=Gra w statki
GenericName[pt]=Jogo de Batalha Naval
GenericName[pt_BR]=Jogo de Batalha Naval
GenericName[ru]=Игра в морской бой
GenericName[sl]=Igra potapljanja ladjic
GenericName[sr]=Игра подморница
GenericName[sr@Latn]=Igra podmornica
GenericName[sv]=Sänka fartyg spel
GenericName[ta]=போர்த்தள விளையாட்டு
GenericName[uk]=Гра в морський бій
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;StrategyGame;
