<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kbattleship" version="0.3">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="serverconnect"/>
    <Action name="newserver"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="configsound"/>
  </Menu>
</MenuBar>
</kpartgui>
