[Desktop Entry]
Name=Naval Battle
Exec=kbattleship -caption "%c" %U
MimeType=inode/vnd.kde.service.kbattleship;
Icon=kbattleship
Type=Application
X-DocPath=kbattleship/index.html
GenericName=Ship Sinking Game
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
