<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kbattleship" version="3">

<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
    <Action name="game_server" />
    <Action name="game_client" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="options_show_grid" append="show_merge"/>
    <Action name="options_configure_sound" append="save_merge"/>
  </Menu>
</MenuBar>

<State name="playing">
    <enable>
        <Action name="game_restart"/>
    </enable>
</State>

</gui>
