[Desktop Entry]
Name=KBattleship
Name[af]=Kbattleship
Name[be]=Марскі бой
Name[bn]=কে-ব্যাটেলশীপ
Name[br]=KBattleship
Name[ca]=KBattleship
Name[cs]=Lodě
Name[cy]=KBattleship
Name[da]=KBattleship
Name[de]=KBattleship
Name[el]=KBattleship
Name[en_GB]=KBattleship
Name[eo]=KBattleship
Name[es]=KBattleship
Name[et]=KBattleship
Name[eu]=KBattleship
Name[fa]=نبرد کشتی‌ها
Name[fi]=KBattleship
Name[fr]=KBattleship
Name[ga]=KBattleship
Name[gl]=KBattleship
Name[he]=KBattleship
Name[hne]=के-बैटलसिप
Name[hr]=KPotapanje brodova
Name[hu]=KBattleship
Name[is]=KSjóorrusta
Name[it]=KBattleship
Name[ja]=KBattleship
Name[km]=KBattleship
Name[ko]=KBattleship
Name[lt]=KBattleship
Name[lv]=KBattleship
Name[mk]=KBattleship
Name[nb]=KBattleship
Name[nds]=Scheep versenken
Name[ne]=केडीई ब्याटलसीप
Name[nl]=KBattleship
Name[nn]=KBattleship
Name[pa]=ਕੇ-ਜੰਗੀ ਜਹਾਜ਼
Name[pl]=KBattleship
Name[pt]=KBattleship
Name[pt_BR]=KBattleship
Name[ro]=Bătălie navală
Name[ru]=KBattleship
Name[se]=KBattleship
Name[sk]=KBattleship
Name[sl]=KBattleship
Name[sr]=К‑подморнице
Name[sr@latin]=K‑podmornice
Name[sv]=Kbattleship
Name[ta]=கேபாட்டில்ஷிப்
Name[tg]=KҶанги Киштиҳо
Name[tr]=KBattleship
Name[uk]=Морський бій
Name[vi]=KBattleship
Name[wa]=KBattleship
Name[xh]=KBattleship
Name[x-test]=xxKBattleshipxx
Name[zh_CN]=KBattleship
Name[zh_TW]=KBattleship 戰艦
Exec=kbattleship -caption "%c" %U
MimeType=inode/vnd.kde.service.kbattleship;
Icon=kbattleship
Type=Application
X-DocPath=kbattleship/index.html
GenericName=Battleship Game
GenericName[be]=Гульня ў марскі бой
GenericName[bn]=ব্যাটেলশীপ খেলা
GenericName[ca]=Joc d'enfonsar la flota
GenericName[cs]=Bitva lodí
GenericName[cy]=Gêm Longau Rhyfel
GenericName[da]=Sænke slagskibe-spil
GenericName[de]=Schiffe versenken
GenericName[el]=Παιχνίδι Battleship
GenericName[en_GB]=Battleship Game
GenericName[eo]=Batalŝipa ludo
GenericName[es]=Juego de batallas de naves
GenericName[et]=Laevade pommitamise mäng
GenericName[eu]=Ontzi-guda jokoa
GenericName[fa]=بازی جنگ کشتی‌ها
GenericName[fi]=Meritaistelupeli
GenericName[fr]=Jeu de bataille navale
GenericName[ga]=Cluiche cosúil le "Battleship"
GenericName[gl]=Xogo de batalla naval
GenericName[he]=משחק צוללות
GenericName[hne]=बेटलसिप खेल
GenericName[hr]=Igra potapanja brodova
GenericName[hu]=Torpedózás
GenericName[is]=Sjóorustuleikur
GenericName[it]=Gioco a battaglia navale
GenericName[ja]=戦艦ゲーム
GenericName[km]=ល្បែង​នាវា​ចម្បាំង
GenericName[ko]=전함 게임
GenericName[lt]=Laivų mūšio žaidimas
GenericName[lv]=Jūras kaujas spēle
GenericName[mk]=Игра со потопување бродови
GenericName[nb]=Slagskip
GenericName[nds]=Scheep versenken
GenericName[ne]=ब्याटलसीप खेल
GenericName[nl]=Zeeslagspel
GenericName[nn]=Senk slagskipa
GenericName[pa]=ਜੰਗੀ ਜਹਾਜ਼ ਖੇਡ
GenericName[pl]=Gra w statki
GenericName[pt]=Jogo de Batalha Naval
GenericName[pt_BR]=Jogo de Batalha Naval
GenericName[ro]=Un joc de bătălie navală
GenericName[ru]=Морской бой
GenericName[sk]=Bojová loď hra
GenericName[sl]=Igra potapljanja ladjic
GenericName[sr]=Игра подморница
GenericName[sr@latin]=Igra podmornica
GenericName[sv]=Sänka fartyg spel
GenericName[ta]=போர்த்தள விளையாட்டு
GenericName[tr]=Amiral Battı Oyunu
GenericName[uk]=Гра в морський бій
GenericName[wa]=Djeu di batreye di bateas
GenericName[x-test]=xxBattleship Gamexx
GenericName[zh_CN]=舰艇对战游戏
GenericName[zh_TW]=戰艦遊戲
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
